html {
    box-sizing: border-box;
    font-family: 'Karantina', cursive;
    font-family: 'Sarpanch', sans-serif;
    line-height: 2.0;
    background-position: center;
    text-align: center;
    max-width: 1500px;
    margin: auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
 background-image: url("../images/currency-imgbackground.jpg"); 
 background-repeat: no-repeat repeat;  
 background-position: center;
 background-size: contain;
 margin: 0px 50px;
 background-attachment: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-basis: 800px;
}